#toolbar {
	// background: red;
	margin: 0;
	padding: 0;
	padding-right: 10px;
	padding-left: 10px;
	left: 0;
	top: 0;
	// z-index: 1999999998;
	color: white;
	min-height:48px;
	.md-toolbar-tools {
		height: 48px;
		font-size: 90%;
		.md-button {
			md-icon {fill: white}}
		h1 {
			font-size: inherit;
			font-weight: inherit;
			margin: inherit}
		a:nth-child(2) {
			md-icon {
				width: 40px;
				height: 40px}}
		a { 
			md-icon { 
				margin-right: 5px;
				fill: white}}
		a.toolbar-address { 
			// background: green;
			md-icon { 
				margin-left: 15px}}
		a:nth-child(6) { 
			md-icon { 
				margin-left: 15px}}
		a:nth-child(7) { 
			md-icon { 
				margin-left: 25px}}
		a.toolbar-phone {
			md-icon.margin-left {
					margin-left: 25px}}
		a.toolbar-email {
			md-icon.margin-left {
					margin-left:25px}}
		.md-fab.md-accent { 
			md-icon { 
				margin-left: 5px}}
		a:nth-last-child(2) { 
			md-icon { 
				margin-left: 15px;
				padding-top: 2px}}
		.md-button.login-btn {
			min-width: 50px;
			md-icon {
				margin: 0}}}}