#tabs(hide 
	  show-gt-sm)
	md-tabs(md-selected="selectedIndex" md-center-tabs)
		md-tab(ng-repeat="t in tab.menu" 
			   label="{{::t.title}}" 
			   ui-sref="{{::t.state}}"
			   md-on-select="tab.setCurrent(t.path)")