md-card#medical-school.md-whiteframe-4dp

  md-toolbar.md-hue-2
    .md-toolbar-tools(layout="row")
      span(flex)
      md-icon(md-svg-src="assets/icons/school.svg")
      h2 Nano Medical School for Patients
      span(flex)

  md-card(ng-repeat="article in ms.articles | limitTo: 4")
    md-card-title
      md-card-title-text
        span.md-headline(ng-bind="::article.header")
        span.md-subhead(ng-bind="::article.date")
        //- br
        p(ng-repeat="teaser in article.teaser | limitTo: 2" ng-bind-html="::teaser | unsafe")
      md-card-title-media
        .md-media-lg.card-media.md-whiteframe-2dp
          img(ng-src="assets/images/articles/{{article.img.src}}-152x152.jpg")
    md-card-actions(layout="row" layout-align="end center")
      md-button(ui-sref="article({id:article.img.src})") Read more...


  //- .md-card-header
    img.md-card-image(ng-src="assets/images/articles/{{ms.article.img.src}}" alt="{{ms.article.img.alt}}")
    .header-wrapper
      h2.md-display-2(ng-bind="ms.article.header" hide-sm)
      h2.md-headline(ng-bind="ms.article.header" hide-gt-sm)
      .md-card-header-date(ng-bind="ms.article.date")

  //- .md-actions(layout="row" layout-align="end start")
    md-button.md-accent.md-hue-3(ng-click="ms.prevArticle()" ng-if="ms.articleIndex <= ms.articlesQuantity") Previous article
    span(flex)
    md-button.md-accent.md-hue-3(ng-click="ms.nextArticle()" ng-if="ms.articleIndex > 0") Next article
  //- md-divider

  //- md-card-content
    p(ng-repeat="t in ms.article.text" ng-bind-html="t | unsafe")

    //- .zero(layout="column")
      .one(flex="33" flex-md="{{ vm.box1Width }}")
        // $scope.box1Width = 1200px;
      .two(flex="33" layout="{{ vm.direction }}" layout-md="row")
        .two_one(flex="22" flex-md="10" hide-lg)
        .two_two(flex="30px" show hide-md="{{ vm.hideBox }}" flex-md="25")
        .two_three(flex="20" flex-md="65")
      .three


    //- Social Share
    //- div
      div Share this article:
      a(href="#" socialshare socialshare-provider="facebook" socialshare-text="A great article about your health!" socialshare-hashtags="health, health care, article" socialshare-url="https://metromeduc.com/")
        md-icon(md-svg-src="assets/icons/facebook.svg" aria-label="Menu")
      a(href="#" socialshare socialshare-provider="twitter" socialshare-text="720kb AngularJS Socialshare" socialshare-hashtags="angularjs, angular-socialshare" socialshare-url="http://720kb.net")
        md-icon(md-svg-src="assets/icons/twitter.svg" aria-label="Menu")
      a(href="#" socialshare socialshare-provider="google+" socialshare-text="720kb AngularJS Socialshare" socialshare-hashtags="angularjs, angular-socialshare" socialshare-url="http://720kb.net")
        md-icon(md-svg-src="assets/icons/google-plus.svg" aria-label="Menu")
      //- a(href="#" socialshare socialshare-provider="pinterest" socialshare-text="720kb AngularJS Socialshare" socialshare-hashtags="angularjs, angular-socialshare" socialshare-url="http://720kb.net")
        md-icon(md-svg-src="assets/icons/pinterest.svg" aria-label="Menu")
      //- a(href="#" socialshare socialshare-provider="tumblr" socialshare-text="720kb AngularJS Socialshare" socialshare-hashtags="angularjs, angular-socialshare" socialshare-url="http://720kb.net")
        md-icon(md-svg-src="assets/icons/tumblr.svg" aria-label="Menu")
      //- a(href="#" socialshare socialshare-provider="reddit" socialshare-text="720kb AngularJS Socialshare" socialshare-hashtags="angularjs, angular-socialshare" socialshare-url="http://720kb.net")
        md-icon(md-svg-src="assets/icons/reddit.svg" aria-label="Menu")
    .date(ng-bind="ms.article.date")

  //- md-divider
  //- .md-actions(layout="row" layout-align="end start")
    md-button.md-accent.md-hue-3(ng-click="ms.prevArticle()" ng-if="ms.articleIndex <= ms.articlesQuantity") Previous article
    span(flex)
    md-button.md-accent.md-hue-3(ng-click="ms.nextArticle()" ng-if="ms.articleIndex > 0") Next article
