#custom-services {
	div {
		md-card {
			min-height: 350px;
			height: auto;
			md-card-content {
				padding-top: 10%;
				text-align: center;
				md-icon {
					width: 70px;
					height: 70px;
					fill: #2cbfd9}
				h2 {
					margin-top: 10px}
				p {
					margin-top: 0;
					font-size: 90%;
					line-height: 150%}}
			.md-button {
				padding-left: 10px;
				padding-right: 10px}}}}