#footer {
	margin-top: 35px;
	min-height: 48px;
	max-height: 48px;

	.md-toolbar-tools {		
		p {
			color: #eee;
			font-size: small;
			// text-shadow: 1px 1px #333;
		}

		span {
			// background: red;
		}
		
		p.last-updated {
			// background: red;
			font-size: 11px;
		}

		.md-button {
			// background: red;
			margin: 0;
			padding: 0;
			// padding-top: 13px;
			min-width: 40px;

			md-icon {
				// background: yellow;
				margin: 0;
				padding: 0;
				// margin-top: 10px;
				// padding-top: 10px;
			}
		}

		// Social buttons
		span {
			// background: red;
			// padding-top: 10px;

			.md-button {
				// background: cyan;
				// margin: 10px;
				// margin-top: 10px;
				// padding: 10px 0;

				md-icon {}
			}
		}
	}
}