#footer {
	margin-top: 35px;
	min-height: 48px;
	max-height: 48px;
	.md-toolbar-tools {		
		p {
			color: #eee;
			font-size: small;
			// text-shadow: 1px 1px #333;
		}

		span {
			// background: red;
		}

		.md-button {
			// background: red;
			margin: 0;
			padding: 0;
			// padding-top: 13px;
			min-width: 60px;
			md-icon {
				// background: yellow;
				margin: 0;
				padding: 0;
				// margin-top: 10px;
				// padding-top: 10px;
			}
		}

		// Social buttons
		span {
			// background: red;
			// padding-top: 10px;
			.md-button {
				// background: cyan;
				// margin: 10px;
				// margin-top: 10px;
				// padding: 10px 0;
				md-icon {}
			}
		}
	}
}



md-bottom-sheet {

  // transform: translate3d(0, $bottom-sheet-hidden-bottom-padding, 0);
  // transition: $swift-ease-out;
  // transition-property: transform;

  &.ng-enter {
    // opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  &.ng-enter-active {
    // opacity: 1;
    // display: block;
    // transform: translate3d(0, $bottom-sheet-hidden-bottom-padding, 0) !important;
    // transition: $swift-ease-in;
    transition: ease-out;
  }

  &.ng-leave-active {
    // transform: translate3d(0, 100%, 0) !important;
    // transition: $swift-ease-in;
  }
}