#contact-info
	h2.md-title.center-txt Contact Info:
	p.center-txt
		a(href="tel:7036874158") (703) 687-4158
	p.center-txt
		a(href="#/map") 952 Edwards Ferry Rd NE
		br
		a(href="#/map") Leesburg, VA 20176
	p.center-txt
		a(href="mailto:info@metromeduc.com") info@metromeduc.com