#hours-of-operation

	h2.md-title.center-txt Hours of Operation:

	table(border="0" style="width:100%")
		tr
			td.td-left 	 Monday
			td.td-center :
			td.td-right  closed
		tr
			td(colspan="3")
				md-divider
		tr
			td.td-left 	 Tuesday &ndash; Friday
			td.td-center :
			td.td-right  10 am to 8 pm
		tr
			td(colspan="3")
				md-divider
		tr
			td.td-left Saturday
			td.td-center :
			td.td-right 10 am to 5 pm
		tr
			td(colspan="3")
				md-divider
		tr
			td.td-left Sunday
			td.td-center :
			td.td-right closed