#calendar {
  h1.md-display-1 {
    // background: red;
    margin-bottom: 0px;
  }
  .md-tab { 
    text-transform: capitalize;
    font-size: 110%;
  }
  md-toolbar.md-accent > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
    // color: #f0f0f0;
    // color: red;
    // tabs .md-tab {
      color: rgba(0,0,0,0.54);
    // }
  }
  md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon {
    color: rgb(0,188,212);
  }
  .calendarRoshelle:before {
    content: "Available";
    color: #fff;
    // font-weight: 600;
  }
  .calendarRoshelle {
    // margin: 10px;
    // padding-left: 5px;
    // padding-right: 5px;
    background-color: rgb(0,188,212);
    opacity: 1;
    border: 2px solid white;
    text-align: center;
    vertical-align: middle;
  }
  .calendarDoc2:before {
    content: "Dr. Micozzi";
    color: #fff;
    // font-weight: 600;
  }
  .calendarDoc2 {
    // margin: 10px;
    // padding-left: 5px;
    // padding-right: 5px;
    // background-color: rgb(0,188,212);
    background-color: #56cce1;
    opacity: 1;
    border: 1px solid white;
    text-align: center;
    vertical-align: middle;
  }
  .calendarDoc3:before {
    content: "Dr. Rader";
    color: #fff;
    // font-weight: 600;
  }
  .calendarDoc3 {
    // margin: 10px;
    // padding-left: 5px;
    // padding-right: 5px;
    background-color: #2ca6d9;
    opacity: 1;
    border: 1px solid white;
    text-align: center;
    vertical-align: middle;
  }
}








/* checkbox - each time slot */
.time-slot               {  }

/* hide the checkbox itself - the label will be styled */
.time-slot input     { 
  display:none; 
}

/* default styling for our labels */
.time-slot label     { 
  padding:10px 20px; 
  color:#FFF; 
  cursor:pointer; 
  background:#EEE; 
  border-radius:5px; 
  transition:0.3s ease all;
}

/* if the label is checked */
.time-slot input:checked ~ label { 
  background:#f2dede; 
  cursor:not-allowed;
  animation:flashBooked 0.5s ease; 
}

/* if the label is not checked */
.time-slot input:not(:checked) ~ label { 
  background:#6AB074; 
  animation:flashAvailable 0.5s ease; 
}

/* animation for the time slot to flash red */
@keyframes flashBooked {
  0%, 100%  { background:#f2dede; transform:scale(1); }
  50%       { background:#F99090; transform:scale(1.5); }
}

/* animation for the time slot to flash green */
@keyframes flashAvailable {
  0%, 100%  { background:#6AB074; transform:scale(1); }
  50%       { background:rgb(119, 218, 78); transform:scale(1.5); }
}